.about {
  width: 100%;
  max-width: var(--view-max-width);
  padding: var(--space-10) var(--view-horizontal-mobile-padding);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    &__name {
      display: flex;
      flex-direction: column;
      gap: var(--space-5);

      span {
        color: var(--primary);
      }
    }

    &__title strong {
      display: flex;
      flex-direction: row;
      gap: var(--space-1);
      font-family: var(--font-secondary);
      font-weight: var(--font-weight-medium);

      &::before {
        content: "";
        width: 4px;
        background-color: var(--primary);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    text-align: justify;

    .paragraph {
      font-weight: var(--font-weight-medium);

      &--strong {
        color: var(--foreground);
        font-weight: var(--font-weight-medium);
      }
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);

    &-item {
      svg {
        color: var(--primary);
      }
    }
  }
}

@media screen and (min-width: 560px) {
  .about {
    &__header {
      align-items: center;

      &__name {
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding: var(--space-10) var(--view-horizontal-desktop-padding);
  }
}

@media screen and (min-width: 992px) {
  .about {
    &__wrapper {
      margin: 0 auto;
    }

    &__header {
      align-items: flex-start;
      gap: var(--space-1);

      &__name {
        align-items: flex-start;
      }
    }

    &__tags {
      justify-content: flex-start;
    }
  }
}
