.about {
  width: 100%;
  max-width: 768px;
  padding: var(--space-10) var(--view-horizontal-mobile-padding);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    &__name {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);
    }

    &__title {
      display: flex;
      align-items: center;
      gap: var(--space-1);

      &::before {
        content: "";
        width: 5px;
        align-self: stretch;
        flex-shrink: 0;
        background-color: var(--primary);
      }

      strong {
        font-family: var(--font-secondary);
        font-weight: var(--font-weight-xlarge);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    > p {
      text-align: justify;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);

    &-item {
      svg {
        color: var(--primary);
      }
    }
  }
}

@media screen and (min-width: 560px) {
  .about {
    &__header {
      align-items: center;

      &__name {
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .about {
    max-width: var(--view-max-width);

    &__wrapper {
      max-width: 990px;
    }

    &__header {
      align-items: flex-start;
      gap: var(--space-1);

      &__name {
        flex-direction: row;
        gap: var(--space-5);

        .tag {
          order: 1;
        }
      }
    }

    &__tags {
      justify-content: flex-start;
    }
  }
}
