.skills {
  display: flex;
  flex-direction: column;
  gap: var(--space-9);
  width: 100%;
  max-width: var(--view-max-width);
  padding: var(--space-10) var(--view-horizontal-mobile-padding);

  &__stack {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    &__title {
      color: var(--gray-deep);
      font-weight: var(--font-weight-large);
      text-transform: uppercase;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--space-2);

      &--techno {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
        align-items: stretch;
      }

      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-5);
        width: 100%;
        border: 1px solid var(--gray-light);
        border-radius: var(--border-radius-base);

        &--techno {
          padding: var(--space-2);
          background-color: var(--white);
          transition: background-color 100ms ease;

          &:hover {
            background-color: var(--body-secondary);
          }
        }

        &--domain {
          padding: var(--space-1) var(--space-2);
          background-color: var(--white);
          transition: border 100ms ease;

          &:hover {
            border: 1px solid var(--primary);
          }
        }

        &--soft {
          padding: var(--space-1) var(--space-2);
          background-color: var(--gray-lighter);
          transition: border 100ms ease;

          &:hover {
            border: 1px solid var(--primary);
          }
        }

        &--label-techno {
          font-family: var(--font-secondary);
          font-weight: var(--font-weight-medium);
        }

        &--label-soft {
          color: var(--gray-deeper);
        }

        &--level {
          padding: var(--space-0) var(--space-2);
          background-color: var(--primary-15);
          border-radius: var(--border-radius-medium);
          color: var(--primary);
          font-size: var(--font-size-small);
          font-weight: var(--font-weight-medium);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .skills {
    &__stack {
      &__list {
        &__item {
          width: max-content;
        }

        &--techno {
          .skills__stack__list__item--techno {
            width: 100%;
          }
        }
      }
    }
  }
}
