.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  width: max-content;
  padding: var(--space-1) var(--space-2);
  font-family: var(--font-primary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-medium);
  color: var(--foreground);
  transition: background-color 0.2s ease;

  &--size {
    &-small {
      padding: var(--space-0) var(--space-1);
    }

    &-default {
      padding: var(--space-1) var(--space-2);
    }
  }

  &--variant {
    &-default {
      color: var(--secondary-foreground);
      background-color: var(--secondary);
      border: 1px solid var(--border);
      border-radius: var(--border-radius-base);
    }

    &-ghost {
      color: var(--foreground);
      padding: 0;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: var(--border-radius-base);
    }

    &-status {
      color: var(--primary);
      background-color: var(--secondary);
      border: 1px solid var(--primary);
      border-radius: var(--border-radius-medium);
    }
  }

  &--icon {
    &-right {
      svg {
        order: 1;
      }
    }
  }
}
