.icon {
  display: inline-block;
  color: var(--gray-darker);
  stroke: currentColor;
  fill: none;
  stroke-width: 0;
  transition: color 0.15s ease, opacity 0.15s ease, transform 0.15s ease;

  &--small {
    width: 18px;
    height: 18px;
  }

  &--medium {
    width: 22px;
    height: 22px;
  }

  &--large {
    width: 32px;
    height: 32px;
  }

  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: currentColor;
  }
}

.button:hover .icon {
  transform: translateY(-1px);
}
.button:active .icon {
  transform: translateY(0);
}
.button:disabled .icon,
.button.button--disabled .icon {
  opacity: 0.7;
}
