.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: var(--body-primary);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--view-max-width);
  margin: 0 auto;
  padding: var(--space-3) var(--view-horizontal-mobile-padding) var(--space-1);
  box-sizing: border-box;
}

.header__brand {
  padding-right: var(--space-2);
  border-right: 3px solid var(--primary-65);
  white-space: nowrap;
}

.header__brand-link {
  font-weight: var(--font-weight-large) !important;
  font-size: var(--font-size-large) !important;
  transition: color 150ms ease;
  padding: 0 !important;
}

.header__brand-link:hover {
  color: var(--primary);
}

.header__nav {
  display: none;
}

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  width: 100%;

  &:last-of-type {
    a {
      margin-top: var(--space-6);
      padding: var(--space-2) 0;
    }
  }

  &:not(last-of-type) {
    a {
      padding: var(--space-3) 0;
    }
  }
}

.header__nav-list--mobile .header__nav-item > a,
.header__nav-list--mobile .header__nav-item > button {
  width: 100%;
  border-bottom: 1px solid var(--gray-deep);
  border-radius: 0;
  text-align: center;
  transition: background-color 150ms ease;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header__inner {
    padding: var(--space-1) var(--view-horizontal-mobile-padding);
  }

  .header__brand-link {
    padding: 0;
  }

  .header__nav {
    display: flex;
    flex: 1;
    padding-left: var(--space-2);
  }

  .header__nav-list {
    flex-direction: row;
    align-items: center;
    gap: var(--space-3);
    width: 100%;
  }

  .header__nav-item {
    width: auto;

    &:last-of-type {
      margin-left: auto;

      a {
        margin-top: 0;
        padding: var(--space-1) var(--space-2);
      }
    }

    &:not(last-of-type) {
      a {
        padding: var(--space-3) 0;
      }
    }
  }
}
