.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-1);
  width: 100%;
  max-width: var(--view-max-width);
  padding: var(--space-1) var(--view-horizontal-mobile-padding);
  background: var(--background);
  border-bottom: 1px solid var(--border);
  backdrop-filter: blur(8px);

  &__logo {
    padding-right: var(--space-3);
    color: var(--foreground);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-large);
    text-decoration: none;
    border-right: 3px solid var(--primary);
    white-space: nowrap;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: var(--space-2);
  }

  &__list {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1rem;
    list-style: none;

    &__item--cta {
      margin-left: auto;
    }

    > li:not(:last-child) {
      display: none;
    }
  }

  &__toggle {
    all: unset;
    cursor: pointer;
    display: flex;
    padding: var(--space-1);
    border: 2px solid var(--muted-foreground);
    border-radius: var(--border-radius-large);
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }

    svg {
      color: var(--primary);
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: var(--space-1) var(--view-horizontal-desktop-padding);
  }
}

@media screen and (min-width: 992px) {
  .header {
    &__list {
      > li:not(:last-child) {
        display: flex;
      }
    }
  }
}
