.header {
  z-index: 9999;
  position: fixed;
  display: flex;
  width: 100%;
  background-color: var(--body);

  &__wrapper {
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: var(--view-max-width);
    margin: 0 auto;
    padding: var(--space-3) var(--view-horizontal-mobile-padding);

    &__brand {
      padding-right: var(--space-2);
      border-right: 3px solid var(--primary-65);
      white-space: nowrap;

      .brand {
        font-weight: var(--font-weight-large);
        font-size: var(--font-size-large);
      }
    }

    &__mobile_menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-2);
      margin-left: auto;
      cursor: pointer;

      svg {
        padding: 1.5px;
        width: 34px;
        height: 34px;
        box-sizing: border-box;
      }
    }

    &__nav {
      display: none;

      &__mobile {
        display: flex;
      }

      &__list {
        &__mobile {
          z-index: 1;
          position: absolute;
          top: 73px;
          left: 0;
          display: flex;
          flex-direction: column;
          padding: var(--space-10) var(--space-6) var(--space-3) var(--space-6);
          height: 100vh;
          width: 100%;
          background-color: var(--body);
          box-sizing: border-box;
          list-style: none;

          > li {
            &:nth-child(4) {
              margin-top: var(--space-9);
            }

            &:nth-child(5) {
              margin-top: var(--space-3);
            }
          }

          .brand,
          .link,
          .button {
            width: 100%;
          }
        }

        &__item {
          &__mobile {
            > a {
              display: block;
              padding: var(--space-2) 0;
              width: 100%;
              border-top: 1px solid var(--gray-deep);
              text-align: center;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__wrapper {
      nav {
        flex-grow: 1;
        padding-left: var(--space-2);
      }

      &__brand {
        padding-right: var(--space-2);
        border-right: 3px solid var(--primary-65);
      }

      &__mobile_menu {
        display: none;
      }

      &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-3);
        width: 100%;

        > li:last-of-type {
          margin-left: auto;
        }

        &__subtitle {
          max-width: var(--bloc-max-width);
          font-size: var(--font-size-medium);
        }

        &__mobile {
          display: flex;
        }

        &__list {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: var(--space-3);

          &__mobile {
            all: unset;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--space-3);
            list-style: none;

            > li {
              margin-top: unset;
            }
          }

          &__item {
            &--hidden {
              display: none;
            }

            &__mobile {
              > a,
              > button {
                padding: 0;
                width: auto;
                border-top: none;
                text-align: left;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }
  }
}
