.examples {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, max-content);
  row-gap: var(--space-10);
  width: 100%;
  max-width: var(--view-max-width);
  margin: 0 auto;
  padding: var(--space-15) var(--view-horizontal-mobile-padding);

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);

    &__subtitles {
      display: flex;
      flex-direction: column;
      gap: var(--space-3);
      width: 100%;

      > p:first-of-type {
        font-family: var(--font-primary-semi-bold);
        color: var(--primary);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    &__list {
      display: flex;
      flex-direction: row;
      gap: var(--space-5);
      width: 100%;
      scroll-snap-type: x mandatory;

      > li {
        flex: 0 0 100%;
        scroll-snap-align: start;
      }

      > li:last-of-type {
        article {
          background-color: var(--primary);
          border: 1px solid var(--primary);

          h3,
          p {
            color: var(--white);
            border-top: unset;
          }

          a {
            background-color: var(--white);
            color: var(--black);

            &:hover {
              background-color: var(--secondary);
              border: 1px solid var(--secondary);
              color: var(--white);
            }
          }
        }
      }

      &__card {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        height: 100%;
        padding: var(--space-3);
        background-color: var(--white);
        border-radius: var(--border-radius-base);
        border: 1px solid var(--gray-lighter);
        box-shadow: var(--card-shadow);

        &__tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: var(--space-1);
          margin-bottom: var(--space-2);

          &__item {
            display: flex;
            flex-direction: row;
            padding: var(--space-0) var(--space-1);
            background-color: var(--primary-65);
            border-radius: var(--border-radius-small);

            > p {
              font-size: var(--font-size-small);
              color: var(--white);
              letter-spacing: var(--font-letter-spacing-medium);
              font-family: var(--font-primary-medium);
            }
          }
        }

        h3,
        p:nth-child(4) {
          margin-bottom: var(--space-2);
        }

        > p:last-of-type {
          min-height: 120px;
          padding-top: var(--space-3);
          margin-top: auto;
          border-top: 1px solid var(--gray-deeper);
          font-family: var(--font-secondary);
          font-weight: var(--font-weight-large);
          color: var(--black);
        }
      }
    }

    &__navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--space-2);
      width: 100%;

      button {
        font-family: var(--font-primary-bold);
        font-size: var(--font-size-large);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .examples {
    padding: var(--space-15) var(--view-horizontal-desktop-padding);

    &__body {
      &__list {
        overflow-x: visible;

        > li {
          flex: 0 0 auto;
          scroll-snap-align: unset;
        }

        &__card {
          width: 450px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .examples {
    grid-template-columns: 400px 1fr;
    grid-template-rows: max-content;
    row-gap: unset;
    column-gap: var(--space-10);

    &__body {
      &__navigation {
        justify-content: left;
      }
    }
  }
}
