.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-10);
  width: 100%;
  max-width: 768px;
  padding: var(--space-10) var(--view-horizontal-mobile-padding);

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);

    &__card {
      display: flex;
      flex-direction: column;
      border-radius: var(--border-radius-small);
      box-shadow: var(--card-shadow);

      &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-5);
        border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
        padding: var(--space-3) var(--space-2);
        background-color: var(--white);
      }

      &__picture {
        width: 100%;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--gray-light);
        border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;

        &--empty {
          background: var(--status-available-25);
        }

        &__placeholder {
          font-family: var(--font-secondary);
          font-size: var(--font-size-base);
          line-height: var(--font-line-height-large);
          color: var(--black);
          text-align: center;
          padding: 0 var(--space-2);
        }
      }

      &__header {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);

        h3 {
          padding-left: var(--space-1);
          border-left: 5px solid var(--primary-85);
        }
      }

      &__body {
        &__tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: var(--space-1);
        }
      }

      &__links {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        width: 100%;

        > a {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 560px) {
  .projects {
    &__list {
      &__card {
        &__links {
          flex-direction: row;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .projects {
    align-items: flex-start;
    max-width: var(--view-max-width);

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-5);

      &__card {
        &__links {
          flex-direction: row;
        }
      }
    }
  }
}
