.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-1) var(--space-2);
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-medium);
  text-decoration: none;
  border-radius: var(--border-radius-base);
  background-color: var(--primary);
  cursor: pointer;
  transition: background-color 150ms ease, color 150ms ease, border 150ms ease,
    transform 150ms ease;

  &--variant {
    &-primary {
      background-color: var(--primary);
      border: 1px solid var(--primary);
      color: var(--white);
    }

    &-ghost {
      padding: 0;
      background-color: transparent;
      border: 1px solid transparent;
      color: var(--black);
    }
  }

  &--icon {
    &-right {
      svg {
        order: 1;
      }
    }
  }

  &:hover {
    transform: translateY(-1px);
  }
}
