.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-40);
  background-color: var(--body-primary);
  overflow: hidden;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-10);
    width: 100%;
    margin-top: var(--space-30);
  }
}
