@font-face {
  font-family: "Poppins-Regular";
  src: url("./../public/assets/fonts/poppins/Poppins-Regular.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./../public/assets/fonts/poppins/Poppins-Medium.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./../public/assets/fonts/poppins/Poppins-SemiBold.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./../public/assets/fonts/poppins/Poppins-Bold.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./../public/assets/fonts/roboto/Roboto-Regular.woff2")
    format("woff2");
  font-display: swap;
}

:root {
  --primary: #1b4965;
  --primary-85: #426b89;
  --primary-65: #678fae;
  --secondary: #e8a93a;

  --body: #f7fafc;
  --black: #1e1e1e;
  --white: #fcfcfc;
  --gray: #d8d9d7;
  --gray-light: #dee2e6;
  --gray-lighter: #f0f2f4;
  --gray-deep: #8c8b88;
  --gray-deeper: #494a49;
  --success: #2fb854;
  --error: #dc3545;
  --warning: #ffc107;

  --primary-gradient: linear-gradient(-15deg, #feebcb 0%, #ffd6a5 100%);

  --view-horizontal-mobile-padding: 24px;
  --view-horizontal-desktop-padding: 48px;

  --view-max-width: 1280px;
  --bloc-max-width: 950px;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --space-9: 72px;
  --space-10: 80px;
  --space-11: 88px;
  --space-12: 96px;
  --space-15: 120px;
  --space-20: 160px;
  --space-30: 240px;
  --space-40: 320px;

  --font-primary: "Poppins-Regular", sans-serif;
  --font-primary-medium: "Poppins-Medium", sans-serif;
  --font-primary-semi-bold: "Poppins-SemiBold", sans-serif;
  --font-primary-bold: "Poppins-Bold", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-large: 600;
  --font-weight-xlarge: 700;

  --font-size-base: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-extra: 2rem;

  --font-size-desktop-heading-1: 3rem;
  --font-size-desktop-heading-2: 2.5rem;
  --font-size-desktop-heading-3: 1.75rem;

  --font-size-mobile-heading-1: 2.25rem;
  --font-size-mobile-heading-2: 2rem;
  --font-size-mobile-heading-3: 1.5rem;

  --font-line-height-button: 50%;
  --font-line-height-large: 135%;
  --font-line-height-extra: 150%;

  --font-letter-spacing-medium: 3%;

  --border-radius-base: 8px;
  --border-radius-medium: 16px;
  --border-radius-large: 32px;

  --card-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

  --breakpoint-mobile: 576px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop: 1260px;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

.heading_1 {
  font-family: var(--font-primary-bold);
  font-size: var(--font-size-mobile-heading-1);
  line-height: var(--font-line-height-large);
  color: var(--black);
}

.heading_2 {
  font-family: var(--font-primary-semi-bold);
  font-size: var(--font-size-mobile-heading-2);
  line-height: var(--font-line-height-large);
  color: var(--black);
}

.heading_3 {
  font-family: var(--font-primary-semi-bold);
  font-size: var(--font-size-mobile-heading-3);
  line-height: var(--font-line-height-large);
  color: var(--black);
}

.brand {
  font-family: var(--font-primary-semi-bold);
  font-size: var(--font-size-large);
  color: var(--black);
  text-decoration: none;
}

.nav_item {
  font-family: var(--font-primary-medium);
  letter-spacing: var(--font-letter-spacing-medium);
  color: var(--black);
  text-decoration: none;
}

.paragraph {
  font-family: var(--font-secondary);
  font-size: var(--font-size-medium);
  line-height: var(--font-line-height-extra);
  color: var(--gray-deeper);

  &--strong {
    color: var(--primary);
  }
}

.button {
  display: block;
  width: max-content;
  padding: var(--space-2) var(--space-3);
  margin: 0;
  background-color: var(--primary);
  border-radius: var(--border-radius-large);
  border: 1px solid var(--gray-lighter);
  color: var(--white);
  font-family: var(--font-primary-semi-bold);
  font-size: var(--font-size-base);
  letter-spacing: var(--font-letter-spacing-medium);
  line-height: var(--font-line-height-button);
  text-decoration: none;
  // transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--white);
    border: 1px solid var(--gray);
    color: var(--black);
    box-shadow: var(--card-shadow);
  }
}

@media screen and (min-width: 768px) {
  .heading_1 {
    font-size: var(--font-size-desktop-heading-1);
  }

  .heading_2 {
    font-size: var(--font-size-desktop-heading-2);
  }

  .heading_3 {
    font-size: var(--font-size-desktop-heading-3);
  }
}
